#box{
	margin-top: 10px;
	margin-left: 10px;
	height: 300px;
	width: 600px;
	background-color: #FFCC33;
}
#box1{
	width: 50%;
	height: 50%;
	float: left;
	height: 100%;
}
#box1 img{
	margin-left: 30%;
	margin-top: 20%;
	height: 50%;
	width: 50%;
	border: 5px solid #FFFFFF;
	border-radius: 150px;
}
#box2{
	width: 50%;
	height: 100%;
	list-style-type: none;
	overflow: hidden;
	line-height: 40px;
}
#box2 ul{
	list-style-type: none;
}
#box2 ul li img{
	width: 15px;
	height: 15px;
	color: red;
}
#box3{
	margin-top: 1px;
	margin-left: 10px;
	height: 200px;
	width: 600px;
	background-color: #FFCC33;
}
#box4{
	margin-top: 15px;
	margin-left: 10px;
}